<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Annuaire</title>
    {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <h1> <center>Connexion</center> </h1>


{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<center>
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</tr>
<tr>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</tr>
</table>


<input class="log" type="submit" value="Se connecter">
<input type="hidden" name="next" value="{{ next }}">
</form>
</center>
<br><br>
  </body>
  <footer>
    Expiration de la session : {{expiration_date}}
    <br><br>
    Master 2 IDL : Ingénierie du Développement logiciel  &nbsp;&nbsp;&nbsp;
    Année 2021/2022<br>
    UE de Veille Technologique &nbsp;&nbsp;&nbsp;
    Django : la dernière tendance des framework backend en Python
        <p>© 2022 Laura Jeanneton</p>
    </footer>
</html>
