html, body {
 margin: 0;
 padding: 0;
 background-color: rgba(170, 238, 170, 0.5);
 }

table{
  border-collapse: collapse;
  width:100%;
}

tr,th,td{
  border: 1px solid black;
}

footer{
  position: fixed;
  left: 15;
  bottom: 0;
}
