<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Annuaire</title>
    {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  </head>
  <body>
  </body>
  <footer>
    <br>
    Master 2 IDL : Ingénierie du Développement logiciel <br>
    Année 2021/2022<br>
    UE de Veille Technologique<br>
    Django : la dernière tendance des framework backend en Python<br>
        <p>© 2022 Laura Jeanneton</p>
    </footer>
</html>
