<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Annuaire</title>
    {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <div class="user">
      {% if user.is_authenticated %}
      Utilisateur : {{ user.get_username }}<br>
      <a href="{% url 'logout'%}?next={{request.path}}">Logout</a><br>
    {% else %}
      <a href="{% url 'login'%}?next={{request.path}}">Login</a>
    {% endif %}
    </div>

    <h1> <center>Mon annuaire</center> </h1>

<table>
   <tr>
       <th>Nom Prenom</th>
       <th>Coordonnée</th>
   </tr>

{% for book in all_users %}
    <tr>

          <td>  <a href="{{ book.get_absolute_url }}">{{ book.nom }} {{book.prenom}}</a> </td>
          <td>{{ book.email }}</td>
      </tr>
   {% endfor %}
   </table>
<br>
   Nombre total d'utilisateurs :  {{nb_users}}
<br><br><br><br><br><br>
  </body>
  <footer>
    Expiration de la session : {{expiration_date}}
    <br><br>
    Master 2 IDL : Ingénierie du Développement logiciel  &nbsp;&nbsp;&nbsp;
    Année 2021/2022<br>
    UE de Veille Technologique &nbsp;&nbsp;&nbsp;
    Django : la dernière tendance des framework backend en Python
        <p>© 2022 Laura Jeanneton</p>
    </footer>
</html>
